body {
    height: 1912px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: sans-serif;
}

.header,
.one,
.two,
.three,
.four,
.footer {
    padding-left: 100px;
    padding-right: 100px;
}

.header,
.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header,
.one,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hlinks {
    list-style-type: none;
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hlogo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    color: #f9faf8;
    font-size: 24px;
    font-weight: Bolder;
}

.one,
.two,
.three,
.four {
    display: flex;
    flex: 1;
}

.one {
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.oneinfo {
    flex: 0 0 400px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 266.875px;
    justify-content: space-between;
}

.oneinfo h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

a,
.onetext {
    font-size: 18px;
    color: #e5e7eb;

}

.oneinfo button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    font-size: 18px;
    padding: 8px;
    border: none;
}

.one img {
    width: 400px;
    height: auto;
}

.two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    background-color: white;
}

.two h1 {
    margin: 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.twocards {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 18px;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
}

.item img {
    width: 147px;
    height: auto;
    border: solid #3882f6 3px;
}

.three {
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937
}

.threeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 500px;
}

.threeQuote {
    font-size: 36px;
}

.threeQuotee {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
}

.four {
    justify-content: center;
    align-items: center;
}

.fourInfo {
    flex:1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    background-color: #3882f6;
    color: white;
}

.fourInfo h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
}

.fourStack {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.fourStack button{
    width: 100px;
    background-color: #3882f6;
    border: solid 2px white;
    color: white;
    font-size: 18px;
    padding: 8px;
}

button,
.fourInfo,
.twocards img {
    border-radius: 12px;
}
